name: Monitor Kabum

on:
  schedule:
    - cron: '*/30 * * * *'  # Roda a cada 30 minutos
  workflow_dispatch:        # Permite rodar manualmente clicando num botão

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Baixar código
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar dependências
        run: |
          pip install requests beautifulsoup4

      - name: Rodar Monitor
        env: # Puxa as variáveis das Secrets do GitHub
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python seu_script.py